h1{
    color: darkgreen;
    text-align: center;

}
.main {
    background-color: bisque;
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    border: 5px solid chartreuse;
    border-radius: 20px 0px ;
    
}
p{
    color: green;
    text-align: center;
    text-align: justify;
    
}
.center {
    display: flex;
    justify-content: center;

}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}